.container {
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 60px solid #FA8072;
    background-image : url("https://i.pinimg.com/originals/e2/b8/2a/e2b82aded815e80351b929a77519adaa.jpg");
  color: orangered;
    
  }
 
  .list {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 10px;
    padding: 1px;
    flex-wrap: wrap;
    width: 60vw;
    border: 40px solid #01796F;
  }
  
  .listItem {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 10px;
    border: 2px solid #FDA50F;
    font-size: 1.4rem;
    text-align: center;
  }
  
  .byttonupdate{
    background-color: #FD6A02;
    border-radius: 10%;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .byttonget{
    background-color: #B1560F;
    border-radius: 10%;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .byttondelet{
    background-color: #EA8741;
    border-radius: 10%;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .byttonadd{
    background-color: #EA8741;
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    margin-top: 15px;
  }

  .formadd{
      display: flex;
      flex-direction: column;
      margin: 20px;
      padding: 20px;
      border: 15px solid #FDA50F;
      font-size: 1.4rem;
      text-align: center;
      
  }

  .box{
    background-color: white;
    }
  