.container {
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 60px solid #FA8072;
    background-image : url("https://i.pinimg.com/originals/e2/b8/2a/e2b82aded815e80351b929a77519adaa.jpg");
  color: orangered;
  }
  


  .list {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 10px;
    padding: 1px;
    flex-wrap: wrap;
    width: 80vw;
   
  }
  
  .listItem {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 5px;
    border: 20px solid #FA8072;
    font-size: 1.4rem;
    text-align: center;
  }
  
  .byttonupdate{
    background-color: #BF0A30;
    border-radius: 10%;
    border: none;
    color:#FFE5B4;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .box{
    background-color: white;
    }
  